<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/css/libraries/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">

	<script th:src="@{/js/libraries/bootstrap.min.js}"></script>
	<script th:src="@{/js/libraries/jquery-3.4.1.js}"></script>
	<title>Theme form</title>
</head>

<body>

	<div class="bg-video" th:object="${theme}">
		<video class="bg-video-content" autoplay loop type="video/webm" th:src="*{url}"></video>
	</div>

	<input type="hidden" th:field="*{id}">

	<div class="theme-form-content">
		<form action="#" th:action="@{/themes/save}" th:object="${theme}" method="POST">

			<div class="series-title-info">
				<label class="theme-label" for="series">Series Title</label>
				<input required id="series" type="text" th:field="*{anime.title}" class="theme-input"
					placeholder="Series">
			</div>

			<div class="title-info">
				<label class="theme-label" for="title">Song Title</label>
				<input required id="title" type="text" th:field="*{title}" autocomplete="off" class="theme-input"
					placeholder="Title">
			</div>

			<div class="artist-info">
				<label class="theme-label" for="artist">Artist</label>
				<input required id="artist" type="text" th:field="*{artist}" autocomplete="off" class="theme-input"
					placeholder="Artist">
			</div>

			<div class="video-url-info">
				<label class="theme-label" for="url">Video URL</label>
				<input required id="url" type="text" th:field="*{url}" autocomplete="off" class="theme-input"
					placeholder="Video URL">
			</div>

			<div class="theme-number-info">
				<label class="theme-label" for="themeNumber">Theme Number</label>
				<input required id="themeNumber" type="text" th:field="*{themeNumber}" class="theme-input"
					placeholder="Theme Number">
			</div>

			<div class="theme-type-info">
				<label class="theme-label" for="themeType">Type</label>
				<select required th:field="*{themeType}" id="themeType" class="theme-input">
					<option value="OP">Opening</option>
					<option value="ED">Ending</option>
				</select>
			</div>



			<button type="submit" class="btn btn-primary">Update</button>

			<input id="animeId" type="hidden" th:field="*{anime.id}">
		</form>
	</div>

	<a class="return-link" style="color: white" th:href="@{/themes/list}">Back to Themes List</a>
	<script>

	</script>
</body>

</html>